:root {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: auto;
  position: relative;
}
.abottom{
 margin-left: 45%;

}
.bottom{
  border-left: 2px solid rgb(171, 230, 62);
  margin: 12px;

}
.nav_bar {
  display: flex;
  width: 100%;
  height:12vh ;
  flex-direction: row;
  justify-content: space-around;
  background-color: hsl(216, 24%, 96%);
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 1;
  margin: 0%;
  padding: 0%;
}

.img1{
  width: 60px;
  height: 60px;
}
.img2 {
  width: 50%;
  height: 65vh;
  margin:69px 160px 60px 100px;
}
a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.top {
  font-size: 35px;
  margin: 160px 0px 0px 40px;
}
.color1 {
  color: rgb(139, 190, 44);
  font-weight: bold;
  width: 400px;
}
nav ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.a1,.li1,.custmer_col {
  color: rgb(155, 202, 67);
}

.btn_lets {
  background-color: rgb(152, 214, 37);
  color: white;
  font-size: larger;
  border: none;
  width: 110px;
  height: 6vh;
}

.btn_lets:hover {
  background-color: white;
  border: 1px solid rgb(162, 211, 71);
  color: rgb(177, 218, 101);
}

.inner_container {
  display: flex;
}

.container2 {
  height: 125vh;
  background-image: url(https://www.navadhiti.com/static/maskCareers-366ada599b6cb17b2c126b22e2abc280.svg);
  background-color: rgb(236, 239, 246);
  text-align: center;
}
.center,.custmer_size{
  font-size: 35px;
}

.card_container3{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card_container4{
  width: 90%;
  margin:15px;
  height: 45vh;
  /* border: 1px solid red; */
  position:relative;
}


.card1 {
  width: 100%;
  height: 160px;
  background-color: rgb(214, 213, 225);
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  text-align: center;
  box-shadow: 2px 4px 2px;
  z-index: 1;
  border: none;
}
.product_name{
  font-size: 20px;
  margin: 15px;
}
.caimg{
  width: 100px;
  height: 100px;
  margin: 10px;
}

.tringle
{
  width: 0%;
  height: 0%;
  border-bottom: 30px solid transparent;
  border-right: 30px solid rgb(173, 204, 100);
}

.tringle{
  position: relative;
  top: 0%;
  left:0%;
}
.cover1 {
  width: 91.8%;
  height: 92px;
  background-color: rgb(255, 255, 218);
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  box-shadow: 2px 4px 2px;
  position: absolute;
  top: 62.7%;
  left:8.2%;
  border: none;
}

.card_container4:hover {
  transition: -2s ease-in-out;
  box-shadow: 7px 7px 7px rgb(159, 161, 165);
}

.logo_container1,.logo_container2{
  text-align:center;
  width: 90%;
  height: 93vh;
}

.logo_container2{
  text-align:center;
  width: 95%;
  height: 112vh;
  margin-top: 80px;
}
.logo1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin:40px;
}

.img_size,.foter_img{
  width: 180px;
  height: 70px;
  margin: 20px;
}
.img_size1{
  width: 230px;
  height: 70px;
  margin: 20px;
}
.devide {
  width: 1000px;
  height: 40px;
  background-color: rgb(236, 239, 246);
  position: absolute;
  left: 10%;

}
.fa-caret-up{
  color: white;
}
.btn {
  position: absolute;
  right: 3%;
  top: 97%;
  background-color: rgb(197, 252, 68);
  border: none;
  color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 90%;
}

.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 35vh;
  background-color: rgb(214, 213, 225);

}


.footer_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.footer_3 {

  text-align: center;

}

.p_div {
  display: flex;
  align-items: center;
 }
 .hr{
   width: 45%;
   border: thin solid rgba(0, 0, 0, 0.12);
   border-width: thin;
   border-style: solid;
   border-color: rgba(0, 0, 0, 0.12);
 }
 





 